<p>
  employee-data works!
</p>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let element;let i=index">
        <app-employee-id [(id)]="element.id"></app-employee-id>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element">
        <app-employee-name [(name)]="element.name"></app-employee-name>
      </td>
    </ng-container>

    <!-- Designation  Column -->
    <ng-container matColumnDef="designation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Designation </th>
      <td mat-cell *matCellDef="let element">
        <app-employee-designation [(designation)]="element.designation"></app-employee-designation>
      </td>
    </ng-container>

    <!-- Salary Column -->
    <ng-container matColumnDef="salary">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Salary </th>
      <td mat-cell *matCellDef="let element">
        <app-employee-salary></app-employee-salary>
      </td>
    </ng-container>

    <!-- Personal-Details Column -->
    <ng-container matColumnDef="personal_details">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Personal_Details </th>
      <td mat-cell *matCellDef="let element">
        <app-employee-personal-details></app-employee-personal-details>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>